{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
      <div class="row mt-4">
          <div class="col-3"></div>
        <div class="col-6 mb-xl-0 mb-4">
          <div class="card ">
              <div class="card-body p-3 align-middle text-center">
                  <h5 class="text-m mb-2 text-capitalize font-weight-bolder">Categorie Aanmaken</h5>
              </div>
          </div>
        </div>
          <div class="col-3"></div>
      </div>
    <form method="POST">
        {% csrf_token %}
    <div class="row mt-4">
        <div class="col-3"></div>
            <div class="col-6 align-middle text-center">
                <div class="card mb-4 ">
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0" id="invoicetable">

                                <tr class="align-middle text-center">
                                    <td class="align-middle text-center">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Naam:</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        {{form.name}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Winstmarge:</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        {{form.cat_margin}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h8 class="mb-0 text-sm">(Optioneel)</h8>
                                                <h6 class="mb-0 text-sm">Afbeelding:</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        {{form.image_link}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <button class="btn bg-gradient-primary my-1 me-1" type="submit">Categorie Toevoegen</button>
            </div>
        <div class="col-3"></div>
    </div>
    </form>

    {% include "includes/footer.html" %}
      </div>
  </div>
{% endblock content %}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>